<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t('base.app_name'), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('view.header.Home'), root_path %></li>
        <li><%= link_to t('view.header.Help'), help_path %></li>
        <li><%= link_to t('view.header.Login'), '#' %></li>
        <li>
        <% if I18n.locale == I18n.default_locale %>
          <%= link_to "日本語", { :locale=>'ja' } %>
        <% else %>
          <%= link_to "English", { :locale=>'en' } %>
        <%end%>
        </li>
      </ul>
    </nav>
  </div>
</header>
